body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    margin: 16px auto 0;
    width: 100%;
    max-width: 1140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 64px;
}

.nav-link a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.theme-btn {
    padding: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;

    width: 32px;
    height: 32px;
    overflow: hidden;
}

.theme-btn-logo--to-dark {
    animation: toDark .5s steps(5) forwards;
}

.theme-btn-logo--to-light {
    animation: toLight .5s steps(5) forwards;
}

@keyframes toDark {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-160px);
    }
}

@keyframes toLight {
    from {
        transform: translateX(-160px);
    }
    to {
        transform: translateX(0);
    }
}


.intro {
    margin: 50px 0;
}

.intro-hero {
    text-align: center;
}

.intro-text {
    text-indent: 25px;
} 